.panel {
	height:100%;
	position:relative;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-ms-perspective: 800px;
	-o-perspective: 800px;
	perspective: 800px;
}

.panel {
	/*width: 100%;
	min-height: 275px;
	margin-bottom: 20px;
	border: 0px;*/
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	text-align: center;
}

.panel.create-account {
   text-align: left; 
}
.panel-default > .front > .panel-heading, .panel-default > .back > .panel-heading{
	color: #5a5a5a;
	text-align: center;
	background-color: transparent;
	border-color: transparent;
}
.categories .panel-heading {
	padding: 10px 15px;
	border-bottom: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.categories .panel-body {
	padding: 0px 15px 15px;
}

.categories .panel-body span.icon-lg {
	font-size: 10.5em;
	color: #5a5a5a;
}

.categories .panel-body span.icon-md {
	font-size: 6.5em;
	color: #B40001;
}

.categories .panel-body img{
	margin: auto;
    min-height: 200px;
    max-height: 200px;
}

.categories .panel-body h5 {
	color: #ffffff;
}

.red {
	background-color: #B40001;
}
.blue {
	background-color: #3498db;
}
.green {
	background-color: #30BD2F;
}
.orange{

}

.back, .front {
	position:absolute;
}

.front img {
	min-height:100%;
	height:auto;
	width:auto;
	width:100%;
}

.front {
	overflow:hidden;
	width:100%;
	height:100%;
	z-index:900;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .9s ease-in-out;
	
	cursor: default;
	color: #5a5a5a;
	background: #ececec;
	border-bottom: 6px solid;
	border-color: #B40001;
}

.active .front {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.back {
	background-repeat: no-repeat;
	background-position:90% 93%;
	height:100%;
	width:100%;
	z-index:800;
	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(-179deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .9s ease-in-out;
	
	cursor: default;
	background: #5a5a5a;
	border-bottom: 6px solid;
	border-color: #B40001;
}

.active .back {
	z-index: 1000;
	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);
}

.back p {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 13px
}

.back a {
	color: #ffffff;
	text-decoration: underline;
}

.back a:hover {
	text-decoration: none;
}